@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --color-principal: #000000;
  --color-hover: #868686;
  --color-fondo: #ffffff;
  --fuente-principal: "Titillium Web", sans-serif;
  --fuente-secundaria: "Anton", sans-serif;
}

body {
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
}

.nav-link {
  color: var(--color-principal);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-hover);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Asegurarse de que no haya scroll horizontal */
}

p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
}

h1 {
  font-size: 65px;
  color: #2d3033;
}

h2 {
  font-size: 40px;
  color: #2d3033;
}

h3 {
  font-size: 40px;
  color: #2d3033;
  font-weight: 300;
}

h4 {
  font-size: 22px;
  color: #000000;
  font-weight: 500;
}

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
  letter-spacing: 0.3rem;
}

.btn {
  background-color: transparent;
  color: #050304;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #000000;
}

.btn:hover,
.btn:focus {
  background-color: #0b0909;
  color: #fff;
}

.btn-large {
  padding: 15px 40px;
}

/* Carrousel styles */
.carousel {
  width: 100%;
  margin: 0 auto;
  height: 90vh;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.custom-carousel .carousel-item {
  height: 100vh;
  width: 100%;
}

.custom-carousel .carousel-item img {
  height: 100%;
  object-fit: cover;
}

/* Navbar styles */
.navbar-brand-img {
  height: 60px; /* Aumenta el tamaño del logo si es necesario */
}

.carousel .carousel-item img {
  height: 90vh;
  object-fit: cover;
}

.glasses-container-img img {
  height: auto;
  max-height: 300px; /* Ajusta según el diseño */
}
.navbar-nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav-pages {
  display: flex;
  gap: 2.5rem;
}

.navbar-nav-media {
  display: flex;
  gap: 1rem;
}

.navbar {
  display: flex;
  background-color: rgb(255 255 255);
  padding: 0.7rem !important;
  position: sticky;
  top: 0; /* Asegurar que el navbar esté siempre visible */
  width: 100%;
  z-index: 999;
  font-size: 2em;
  flex-wrap: nowrap;
  flex-direction: row;
  height: max-content;
  font-weight: bold;
}

.navbar-brand-container {
  display: inline-block;
  height: 11vh;
  width: 30%;
}

.navbar-brand-img {
  object-fit: cover;
  height: 100%;
}

.navbar-nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  width: 100%;
}

.navbar-nav-pages {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2.5rem;
  margin-right: 2rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #868686;
}

.navbar-nav-media {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.nav-toggle {
  background: none;
  border: none;
  color: #000000;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden;
}

.navbar-nav-container.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  z-index: 999;
}

/* Products style */
.three-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  margin: 1rem 0;
  justify-content: space-between;
}

.two-container {
  display: flex;
  width: 49.5%;
  height: 100%;
}

.one-img-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.one-img-container a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  z-index: 1;
  font-weight: bolder;
  text-align: center;
}

.one-img-container img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.one-img-container img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* somos style */

.somos-container {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 40vh;
  padding: 0 2.5rem;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.somos-container-text {
  display: flex;
  align-items: center;
}
.somos-frase {
  color: #000000;
  font-size: 5rem;
  font-family: "Titillium Web", sans-serif;
}

/* footer styles */
footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
.footer-container-social .footer-container-media {
  margin-top: 1rem;
}

.footer-container-social .footer-container-img img {
  max-width: 200px;
  height: auto;
}
.footer-container-media {
  display: flex;
  justify-content: center;
}
.footer-container-img {
  display: flex;
  justify-content: center;
}
.footer-container-social .navbar-nav-media {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.footer-container-social .navbar-nav-media .nav-link {
  font-size: 1.5rem;
  color: #ffffff;
  width: 25%;
}

.footer-container-links {
  display: flex;
  gap: 1rem;
}

.navbar-nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  margin: 0%;
  max-width: 1400px; /* Ajusta según tus necesidades */
  margin: 0 auto; /* Centra el contenedor */
  padding: 0 2rem;
  .row {
    position: relative;
    left: 0;
  }
}
/* seccion de contacto */
/* Contact form styles */
.section {
  padding: 60px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-header h2 {
  font-size: 2.5rem;
  color: #333;
}

.section-header p {
  font-size: 1.2rem;
  color: #666;
}

.conForm {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.conForm .form-control {
  margin-bottom: 1rem;
}

.conForm .btn {
  width: 100%;
  background: #000000;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.conForm .btn:hover {
  background: #5e6164;
}

#message {
  display: none;
  margin-bottom: 1rem;
  color: #d9534f;
  font-weight: bold;
}

/* glasses list styles */
/* Hero Section */
.hero {
  padding: 50px 0;
  text-align: center;
  background-color: #f8f9fa; /* Light background for contrast */
}

.container-title-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.title-filter {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.dropdown-toggle {
  padding: 10px 20px;
  font-size: 1rem;
}
.dropdown-menu {
  width: min-content;
}
.dropdown-menu button {
  width: 100%;
  text-align: left;
  border: none;
}

/* Glasses Container */
.container-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
  flex-direction: column;

}
.container-list-group {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.container-list-item {
  width: calc(33.333% - 2rem); /* Three items per row with space */
  height: max-content;
  
}
.glasses-container {
  border: 1.5px solid #6c757d;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  height: 100%;

}
.glasses-container-img {
  overflow: hidden;
}
.glasses-container-img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.glasses-container img:hover {
  transform: scale(1.1);
}
.glasses-material,
.glasses-title {
  margin: 0;
}

.glasses-material {
  font-size: 12px;
  color: #999;
}

.glasses-title {
  font-size: 24px;
  margin: 10px 0;
}

.list-img-colors {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}



.list-img-colors img {
  width: 100%;
  height: auto;
}


/* Footer */
.footer-container-social img {
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.navbar-nav-media.list-inline {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbar-nav-links.list-inline {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.footer .nav-link {
  color: #fff;
  text-decoration: none;
}

.footer .nav-link:hover {
  color: #ccc;
}

/* seccion de encontranos */

/* Seccion Opticas */
.container-opticas {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.scrollable-list {
  max-height: 70vh;
  overflow-y: hidden;
  border: 1px solid #ddd;
  padding: 1rem;
  scrollbar-color: #2d3033;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 1rem;
}

.scrollable-list-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-height: fit-content;
}

.scrollable-list-item:hover {
  background-color: #f1f1f1;
}

.scrollable-list-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  p {
    margin: 0.5em;
  }
}

.container-opticas-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: transparent;
  color: #050304;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #000000;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.dropdown-content .dropdown-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content .dropdown-item:hover {
  background-color: #f1f1f1;
}

.item-btn {
  background-color: transparent;
  color: #050304;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #000000;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 10px;
  cursor: pointer;
}

.item-btn:hover {
  background-color: #0b0909;
  color: #fff;
}

.show {
  display: block;
}

/* Section disclaimer */

.disclaimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  margin: 0.6rem;

  .disclaimer-container-text {
  }
  .disclaimer-container-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    
  }
}


/*Seccion detalle anteojos*/
.img-thumbnail{


}
.mt-3 {
  margin-top: 1rem;
  display:flex;
  justify-content: space-evenly;
}
.thumbnail-img.active {
  border: 2px solid #000;
}
/* Estilos generales para el main */
main {
  padding: 2rem;
}

/* Estilos del detalle del producto */
#product-detail h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

#product-detail h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #555;
}

#product-detail p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* Carousel */
#carouselImages{
  height: 50vh;
  img{
    width: 100%;
    height:50vh;
    padding: 2rem;
  }
}
.carousel-inner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

/* Miniaturas del carrusel */
.thumbnail-img {
  width: max-content;
  height: auto;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.thumbnail-img.active {
  border-color: #333;
}



/* Sección "SOMOS MITO" */
#somos-mito h1 {
  font-size: 3.5rem;  /* Aumentado */
  font-weight: bold;
  color: #000;
}

#somos-mito p {
  font-size: 1.5rem;  /* Aumentado */
  color: #555;
  line-height: 1.8;  /* Mayor espacio entre líneas */
}

/* Sección "NUESTROS VALORES" */
#nuestros-valores {
  background-color: #f0f0f0;  /* Fondo claro para resaltar */
  padding: 4rem 2rem;  /* Espaciado generoso */
  border-radius: 15px;  /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  /* Sombra suave */
}

#nuestros-valores h2 {
  font-size: 3rem;  /* Título más grande */
  font-weight: bold;
  color: #333;
  margin-bottom: 2.5rem;  /* Espacio mayor debajo del título */
}

#nuestros-valores h3 {
  font-size: 2rem;  /* Subtítulos más grandes */
  font-weight: bold;
  color: #000;
}

#nuestros-valores p {
  font-size: 1.25rem;  /* Texto más grande */
  color: #555;
  line-height: 1.8;
}

#nuestros-valores .col-md-4 {
  padding: 1rem;
  transition: transform 0.3s, background-color 0.3s;
}

#nuestros-valores .col-md-4:hover {
  background-color: #e0e0e0;  /* Color de fondo al pasar el cursor */
  transform: scale(1.05);  /* Aumenta ligeramente el tamaño al hacer hover */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);  /* Sombra al pasar el cursor */
}


/*Exclusivo Opticas */

.soporte-section{

}






@media (max-width: 768px) {
  #nuestros-valores .col-md-4 {
      margin-bottom: 2rem;
  }

  #nuestros-valores {
      padding: 2rem 1rem;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  #product-detail h2 {
    font-size: 1.75rem;
  }

  #product-detail h4 {
    font-size: 1.25rem;
  }

  #product-detail p {
    font-size: 0.9rem;
  }

  /* Miniaturas */
  .thumbnail-img {
    width: 60px;
  }
}


/* Responsive styles */
@media (max-width: 768px) {
  .section-header h2 {
    font-size: 2rem;
  }

  .section-header p {
    font-size: 1rem;
  }

  .conForm {
    padding: 20px;
  }

  .conForm .btn {
    font-size: 0.9rem;
    padding: 8px;
  }
}
/* Estilos por defecto (Mobile-first) */

/* Tablet y dispositivos medianos */
@media (min-width: 769px) and (max-width: 1200px) {
  /* Navbar Styles */
  .navbar {
    padding: 1rem 2.5rem; /* Aumenta el padding lateral */
    font-size: 1.1em; /* Incrementa ligeramente el tamaño de fuente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  }

  .navbar-brand-container {
    width: 25%; /* Ajusta el ancho del contenedor de la marca */
    margin-left: 0; /* Elimina el margen adicional */
  }

  .navbar-brand-img {
    height: 60px; /* Aumenta el tamaño del logo */
    width: auto;
  }

  .navbar-nav-container {
    justify-content: flex-end;
    margin-right: 2rem; /* Espacio a la derecha */
  }

  .navbar-nav-pages {
    gap: 2rem; /* Espacio entre enlaces de navegación */
  }

  .navbar-nav-media {
    gap: 1.5rem; /* Espacio entre íconos de redes sociales */
  }

  .nav-toggle {
    display: none; /* Oculta el botón de toggle, ya que hay suficiente espacio */
  }

  /* Alineación de los elementos del navbar */
  .navbar-nav-container.active {
    /* Mantiene la funcionalidad del toggle si es necesario */
  }

  /* Ajustes de fuentes para enlaces */
  .nav-link {
    font-size: 1rem;
  }

  /* Contenedores de Productos */
  .three-container {
    flex-direction: row;
    height: 70vh;
    margin: 2rem 0;
  }

  .two-container {
    height: 100%;
  }

  .one-img-container {
    height: 100%;
  }

  .one-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .one-img-container img:hover {
    transform: scale(1.05); /* Efecto de hover sutil */
  }

  /* Ajustes en la Sección "Somos" */
  .somos-container {
    height: 50vh;
    padding: 2rem 3rem;
  }
  .somos-container-text img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  }

  .somos-frase {
    font-size: 3rem; /* Tamaño de fuente ajustado */
    text-align: left;
  }

  /* Ajustes en la Sección de Filtrado de Gafas */
  .container-title-filter {
    
    gap: 20px;
  }

  .title-filter {
    font-size: 2.5rem;
  }

  /* Lista de Gafas */
  .container-list-group {
    gap: 2rem;
  }

  .glasses-container-img img {
    max-height: 250px; /* Limita la altura para mantener la consistencia */
  }

  /* Formularios y Secciones Adicionales */
  .conForm {
    padding: 35px;
  }

  .conForm .btn {
    padding: 12px;
    font-size: 1rem;
  }

  /* Imágenes */
  .carousel .carousel-item img {
    /* Ajusta la altura del carousel */
    object-fit: cover;
  }
  .custom-carousel .carousel-item {
    height: 80vh; /* Ajusta la altura del carousel */
  }
  .glasses-container-img img {
    max-height: 250px; /* Limita la altura de las imágenes de gafas */
  }

  /* Tipografía */
  body {
    font-size: 16px; /* Tamaño base */
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.3rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
  }

  /* Botones */
  .btn {
    font-size: 1rem;
    padding: 10px 30px;
  }

  .btn-large {
    padding: 15px 50px;
  }
}

/* Desktop grande */
@media (min-width: 1201px) and (max-width: 1500px) {
  .navbar {
    padding: 1rem 3rem; /* Aumenta el padding para mayor espacio */
    font-size: 1.2em; /* Incrementa ligeramente el tamaño de fuente */
  }

  .navbar-brand-container {
    width: 20%; /* Ajusta el ancho del contenedor de la marca */
  }

  .navbar-nav-container {
    justify-content: flex-end;
    margin-right: 3rem; /* Más espacio a la derecha */
  }

  .navbar-nav-pages {
    gap: 3rem; /* Mayor separación entre enlaces */
  }

  .navbar-nav-media {
    gap: 1.5rem; /* Mayor separación entre íconos de redes sociales */
  }

  .navbar-nav-media .nav-link i {
    font-size: 1.5em; /* Aumenta el tamaño de los íconos */
  }

  .nav-toggle {
    font-size: 2rem; /* Aumenta el tamaño del botón de toggle si es necesario */
  }

  /* Contenedores de productos */
  .three-container {
    flex-direction: row;
    height: 80vh;
    margin: 2rem 0;
  }

  .two-container {
    height: 100%;
  }

  .one-img-container {
    height: 100%;
  }

  .somos-container {
    height: 50vh;
    padding: 2rem 4rem;
  }

  .somos-frase {
    font-size: 4rem; /* Ajusta el tamaño de la frase */
  }

  /* Sección de filtrado de gafas */
  .container-title-filter {
    gap: 30px; /* Mayor espacio entre título y filtro */
  }

  .title-filter {
    font-size: 3rem;
  }

  /* Lista de gafas */
  .container-list-group {
    gap: 2rem;
  }
  /* Formularios y secciones adicionales */
  .conForm {
    padding: 40px;
  }

  .conForm .btn {
    padding: 15px;
    font-size: 1.1rem;
  }
}

/* Pantallas extra grandes */
@media (min-width: 1501px) {
  /* Estilos para pantallas mayores a 1500px */
}

/* Responsive styles */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .navbar {
    width: 100%;
    height: 7vh;
    margin: 0;
    padding: 0;
    box-sizing: revert;
    font-size: 1em;
  }

  .navbar-brand-container {
    height: 5vh;
    width: 50%;
    margin-left: 1.6em;
  }

  .nav-toggle {
    display: flex;
    visibility: visible;
    font-size: 1.5rem;
    width: 50%;
    padding-right: 3em;
    justify-content: flex-end;
  }

  .navbar-nav-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .navbar-nav-container.active {
    display: flex;
    flex-direction: column;
  }

  .navbar-nav-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
  }

  .navbar-nav-media {
    margin-top: 1rem;
  }

  .navbar-brand-link {
    height: 100%;
    display: flex;
  }

  .three-container {
    flex-direction: column;
    height: auto;
  }

  .two-container {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .somos-container {
    height: auto;
    padding: 1rem;
  }

  .somos-frase {
    font-size: 2rem;
  }
  .footer-container-social {
    text-align: center;
    margin-bottom: 2rem;
  }

  .footer-container-social .footer-container-img img {
    max-width: 80px;
  }

  .footer-container-social .navbar-nav-media {
    justify-content: center;
  }

  .footer-container-links {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .footer-container-links .navbar-nav-links {
    justify-content: center;
  }

  /* glasses section */
  .container-title-filter {
    flex-direction: column;
    gap: 10px;
  }

  .title-filter {
    font-size: 2rem;
  }

  .glasses-container {
   
  }
  .container-list-group {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .container-list-item {
    width: 100%;
  }
  .glasses-container {
    width: 100%;
  }
  .glasses-container img {
    width: 100%;
  }

  .glasses-container img:hover {
    transform: scale(1.1);
  }
}
/* scroll bar */
::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}
